{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}이벤트 목록{% endblock title %}

{% block content %}

	<!--Event List-->
	<div class="container py-5">
        <div class="row">
            <div class="col-lg-10">
                <h3>{{user.username}}의 이벤트 목록</h3>
                <br><br>
                {% if object_list %}
                    <ul>
                    {% for event in object_list %}
                        <li><a href="{{ event.get_absolute_url }}">{{ event.title }}</a> &nbsp;({{event.eventyear|default_if_none:" "}}.{{event.eventmonth|default_if_none:" "}}.{{event.eventday|default_if_none:" "}}.)</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>등록된 이벤트가 없습니다.</p>
                {% endif %}

                <br>

                <!-- bootstrap style Paging -->
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}

                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
                <!-- bootstrap style Paging End -->

        <!--		<form action="." method="GET">-->
        <!--			<select name="paginate_by" id="">-->
        <!--				<option value="1">1</option>-->
        <!--				<option value="2">2</option>-->
        <!--				<option value="3">3</option>-->
        <!--				<option value="5">5</option>-->
        <!--			</select>-->
        <!--			<input type="submit" value="페이지 크기">-->
        <!--		</form>-->

                <br>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <br>
                <p class="text-center">새로운 이벤트를 등록하려면, <a href="/machine/register_event">여기</a>를 클릭하세요.</p>
            </div>
        </div>
	</div>

{% endblock %}
